*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
  color: #17242a;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right, #36D1DC, #5B86E5);
}

.container{
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(5, 1fr);
  height: 100vh;
  width: 100%;

  .game-title{
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 3px solid black;
    h1{
      margin: 0 10px;
      font-size: 3em;
    }
    i{
      font-size: 3em;
      margin: 0 10px;
    }
  }
  .game-body{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 11;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    table{
      border-spacing: 5px;
      td{
        height: 6em;
        width:  6em;
        .board-card{
          cursor: pointer;
          border-radius: 5px;
          width: 100%;
          height: 100%;
          position: relative;
          transform-style: preserve-3d;
          transition: 0.5s;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #def2f1;
          .board-card-front, .board-card-back{
            position: absolute;
            backface-visibility: hidden;
            i{
              font-size: 30px;
            }
          }
          .board-card-back{
            transform: rotateY(180deg);
          }
          &.flip{
            transform: rotateY(180deg);
          }
        }
      }
    }
  }
  .game-score{
    border-left: black 3px solid;
    grid-row-start: 2;
    grid-row-end: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .score{
      padding: 10px;
      margin: 5px;
    }
    h1{
      font-size: 2em;
    }
    p{
      font-size: 2em;
    }
  }
}